*{
	margin:0;
	padding:0;
}
#galleryWrapper{
	width:60%;
	margin-left: 20%;
	margin-top: 3.5%;
	
}
#gallery{
	float: left;
	width: 90%;
}
#gallery img{
	width: 100%;
}
.arrowBox{
	float: left;
	width: 5%;
	
}
.arrowBox img{
	width: 126%;
	padding: 2%;
	margin-top: 550%;
}
.arrowBox img:hover{
	width: 95%;
	cursor:pointer;
	
}
.arrowBox img:active{
	width: 85%;
}